:root {
  --main-color: #38b000;
  --second-color: #004b24;
  --third-color: #e9f6e4;
  --p-color: #999;
  --main-transition: 0.4s;
  --background-color: #fafafa;
}
@font-face {
  font-family: JF;
  src: url(../JF-Flat-Regular.ttf);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none !important;
}
body {
  background-color: var(--background-color);
  font-family: JF sans-serif;
}
* {
  font-family: "JF";
}
.btn-all {
  background-color: var(--main-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  border: 1px solid transparent;
  transition: 0.4s;
}
.btn-all:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
@media (max-width: 450px) {
  .btn-all {
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 20px;
    color: white;
    border: 1px solid transparent;
    transition: 0.4s;
  }
}
.minus,
.plus {
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.reverse {
  transform: rotateY(180deg);
}
/* Start Header */
.header {
  background-color: var(--background-color);
}
.header .container {
  padding: 20px;
  background-color: var(--background-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-info .nav-logo-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.header .nav-info .nav-logo-location .logo a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
.header .nav-info .nav-logo-location .logo a img {
  border-radius: 50%;
  margin-left: 10px;
}
.header .location select {
  border: none;
  outline: none;
  background-color: transparent;
  direction: ltr;
  font-weight: 500;
  cursor: pointer;
}
.header .location i {
  color: var(--main-color);
  font-size: 18px;
}
.header .search,
.header .searchR {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .search input,
.header .searchR input {
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 2px 0px 10px 10px #eee;
  width: 80%;
  padding: 10px 20px;
  color: #777;
}
.header .search input::placeholder,
.header .searchR input::placeholder {
  color: var(--p-color);
  opacity: 0.5;
}
.header .search input:focus,
.header .searchR input:focus {
  box-shadow: 2px 0px 10px 10px #eee;
}
.header .search span,
.header .searchR span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100px;
  cursor: pointer;
}
.header .search i,
.header .searchR i {
  color: var(--main-color);
  font-weight: 700;
}
.header .nav-info .user-info {
  width: 25%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header .nav-info .user-info img {
  border-radius: 50%;
}
.header .nav-info .user-info h3 {
  font-size: 21px;
}
.header .nav-info .user-info p {
  font-size: 12px;
  color: var(--p-color);
}

.header .cart {
  width: 20%;
}
.header .cart .cart-btn {
  background-color: var(--bg-element-color);
  width: fit-content;
  padding: 8px 18px;
  border-radius: 50px;
}
.header .cart span {
  color: black;
  font-weight: 600;
  margin-left: 10px;
}
.header .cart button {
  background-color: var(--main-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 15px;
  color: white;
}
.header .cart button i {
  font-size: 16px;
}
.header .nav-bottom .nav-links {
  width: 60%;
}
.header .nav-bottom .nav-links ul {
  list-style: none;
}
.header .nav-bottom .nav-links ul li a {
  text-decoration: none;
  color: var(--p-color);
  font-weight: 600;
  position: relative;
  transition: var(--main-transition);
  font-size: 15px;
}
@media (max-width: 1200px) {
  .header .nav-bottom .nav-links ul li a {
    font-size: 12px;
  }
}
.header .nav-bottom .nav-links ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.header .nav-bottom .nav-links ul li a.active,
.header .nav-bottom .nav-links ul li a:hover,
.header .nav-bottom .nav-links ul li:hover a::before {
  color: var(--main-color);
  width: 100%;
}
.header .nav-bottom .nav-icon {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  gap: 15px;
}
.header .nav-bottom .nav-icon span {
  background-color: var(--bg-element-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.header .nav-bottom .nav-icon span i {
  font-size: 23px;
  color: var(--main-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}
.img-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 992px) {
  .header .nav-info {
    display: none;
  }
  .header .nav-bottom .nav-icon {
    display: none;
  }
  .header .nav-bottom {
    display: none;
    align-items: center;
    justify-content: space-between;
  }
  .header .nav-infoR {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .search {
    width: 100%;
  }
  .header .searchR {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  .nav-infoR .nav-links .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-infoR .nav-links .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-infoR .nav-links .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header .container {
    position: relative;
  }

  .nav-infoR .nav-links ul {
    position: absolute;
    left: 0;
    top: 70px;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100%;
    text-align: center;
    transition: 0.3s ease;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
  }

  .header .container {
    box-shadow: none;
  }

  .nav-infoR .nav-links ul.active {
    left: 0;
    top: 150px;
    opacity: 1;
    visibility: visible;
    padding: 10px;
    background: #f6f6f6;
    box-shadow: 0px 20px 20px 0px #eee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 25px;
    list-style: none;
  }

  .nav-infoR .nav-links ul.active li a {
    text-decoration: none;
    color: var(--p-color);
    font-weight: 600;
    position: relative;
    transition: var(--main-transition);
    font-size: 17px;
  }

  .header .nav-links ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--main-transition);
  }
  .header .nav-links ul li a.active,
  .header .nav-links ul li a:hover,
  .header .nav-links ul li:hover a::before {
    color: var(--main-color);
    width: 100%;
  }

  .nav-infoR .nav-links ul li {
    margin: 16px 0;
  }

  .nav-infoR .nav-links {
    display: block;
  }
}

@media (min-width: 993px) {
  .header .searchR {
    display: none;
  }
  .header .nav-infoR {
    display: none;
  }
  .header .nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* End Header */
/* before login  */
.right-side {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.before-login-logo,
.login-logo {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 40%;
  color: var(--main-color);
  border-radius: 20px;
}
.before-login-logo > img,
.login-logo > img {
  border-radius: 20px;
}
.chose-account {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
}

.client-btn,
.trader-btn {
  display: inline-block;
  background-color: var(--main-color);
  padding: 7px;
  width: 300px;
  border: 2px solid var(--main-color);
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 800;
  transition: var(--main-transition) ease-in;
}
.client-btn:hover,
.trader-btn:hover {
  transition: 0.4s ease;
}
.trader-btn {
  background-color: transparent;
  color: var(--main-color);
}
.trader-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
.client-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}
.have-account {
  position: absolute;
  bottom: 5%;
}
.have-account small {
  color: var(--p-color);
}
.have-account small a {
  color: var(--main-color);
  font-weight: bold;
}
.over-layer {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(40, 40, 40, 0.5);
  position: absolute;
  z-index: 1;
}
.login-img,
.before-login-img {
  width: 100%;
  height: 620px;
  border-radius: 10px;
  overflow: hidden;
}
.login-img img,
.before-login-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.before-login-img,
.login-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}
.before-login-img-content {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 5px;
  padding: 10px;

  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.before-login-img-content h2 {
  font-weight: 900;
  color: #fff;
}
.before-login-img-content h2 span {
  color: var(--main-color);
  font-weight: 900;
  font-size: 35px;
}
.before-login-img-content p {
  color: #fff;
}
/* before login  */

/* --------------------------------------------- */
/* --------------------------------------------- */
/* login */
.form-box {
  width: 400px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  padding: 5px;
}
.button-box {
  position: relative;
  width: 300px;
  margin: 35px auto;
  border-radius: 25px;
  background-color: var(--third-color);
  padding: 5px 0;
}
.toggle-btn {
  padding: 8px 28px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: var(--main-color);
  border-radius: 30px;
}
#btn {
  top: 10%;
  left: 2%;
  position: absolute;
  width: 140px;
  height: 80%;
  background-color: var(--main-color);
  border-radius: 30px;
  transition: var(--main-transition);
}
.input-box {
  position: relative;
  padding: 15px 0;
}
.input-box input {
  width: 100%;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.input-box label {
  color: var(--p-color);
  font-size: 20px;
  position: absolute;
  bottom: 30%;
  right: 5%;
  transition: all 0.3s ease;
}

.input-box > input:focus + label {
  display: none;
}
.input-box input:focus::placeholder {
  color: transparent;
}
.input-box > input:focus {
  border: none;
  outline: none;
}
.show-hide-password {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--p-color);
  position: absolute;
  left: 5%;
  top: 46.5%;
  cursor: pointer;
}
.forget-password {
  width: 100%;
  display: inline-block;
  text-align: end;
  color: var(--p-color);
  padding-left: 5px;
}
.submit-btn {
  display: block;
  width: 100%;
  border-radius: 25px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  outline: none;
  padding: 10px 0;
  color: #fff;
  font-weight: 900;
  transition: var(--main-transition);
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.google-logo {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  color: var(--main-color);
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.google-logo img {
  height: 20px;
  padding-left: 5px;
}
.social-logo {
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f7f7f7;
}
.social-logo img {
  height: 20px;
}
#login {
  display: none;
}
#register {
  display: block;
}
.submit-btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

@media (min-width: 319px) and (max-width: 600px) {
  .form-box {
    width: 90%;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
  }

  .google-logo span {
    display: none;
  }
  .google-logo img {
    height: 20px;
    padding-left: 5px;
  }
  .social-logo {
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f7f7f7;
  }
  .social-logo img {
    height: 20px;
  }
  #login {
    display: none;
  }
  #register {
    display: none;
  }
  .submit-btn:hover {
    background-color: transparent;
    color: var(--main-color);
  }
}

/* login */
/* fruit section  */
.fruit-section,
.single-product-page {
  border-top: 1px solid var(--p-color);
  background-color: var(--background-color);
}
.section-navigator {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.section-navigator a {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: white;

  transition: var(--main-transition);
}
.section-navigator a:hover {
  color: var(--main-color);
}
.section-navigator a span {
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 15px;
  font-weight: 300;
  color: var(--p-color);
}
.section-navigator-active {
  color: var(--main-color) !important;
}
.section-navigator-active:hover {
  color: var(--second-color) !important;
}
.card {
  border-radius: 15px !important;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.card-top-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  max-height: 350px !important;
}

.card-bottom-content {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--p-color);
  padding: 25px;
  margin-top: -80px;
  z-index: 99;
}
.card-bottom-content .upper-content {
  border-radius: 15px;
  padding: 10px 0;
}
.upper-content p {
  color: var(--p-color);
}
.card-icon {
  padding-right: 10px;
  padding-left: 5px;
  color: var(--main-color);
  padding-right: 0 !important;
}
.upper-content h4 {
  padding-right: 5px;
}
.lower-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.card-button {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--main-color);
  color: white;
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}
.card-button:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* fruit section  */
/* single-product-page */
.single-product-page {
  padding: 0px 0 20px 0;
}
.product-gallery {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  max-height: 500px;
}
.product-gallery .main-img {
  border-radius: 15px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  object-fit: contain;
}
.product-gallery .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gallery-buttons img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.4;
  object-fit: cover;
}

.gallery-buttons img.selected {
  border-color: green;
  opacity: 1;
}
.product-info {
  width: 80%;
}

.decrease-btn,
.increase-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
}
.increase-btn {
  color: var(--main-color);
}
.add-to-cart-btn {
  width: 100%;
  padding: 12px;
  display: block;
  border-radius: 25px;
  background-color: var(--main-color);
  outline: none;
  border: 1px solid transparent;
  color: white;
  transition: var(--main-transition);
}
.add-to-cart-btn:hover {
  background-color: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
.product-rate h6 {
  padding: 10px 0;
}
.product-rate h6 span {
  background-color: var(--third-color);
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

.rate-bars {
  width: 40%;
  margin: auto;
}
.rate-bars-page {
  width: 100%;
}
.bar1 {
  padding: 5px 0;
}
.bar-inner {
  height: 10px;
  width: 60%;
  background-color: #f6f6f6ff;
  border-radius: 3px;
}
.progres {
  height: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
}
.rates {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px 50px;
  width: 92%;
  margin: auto;
}
.rates-show-more p {
  color: var(--main-color);
}

.rates-card-img {
  width: 105px;
  height: 100px;
  border-radius: 50px;
  background-color: #004b24;
  margin: 25px 0;
}

.rates-card-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  background-color: #38b000;
}
blockquote {
  width: 90%;
  font-size: 18px;
  padding-inline: 20px;
}

.highlight-q {
  color: black;
  font-size: 22px;
  font-weight: 900;
}

.highlight-q::before {
  content: "“";
  color: var(--main-color);
}

.highlight-q::after {
  content: "”";
  color: var(--main-color);
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-backface-hidden .swiper-slide {
  width: 25% !important;
  cursor: grab;
}
.single-product-slide {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
}
.single-product-slide-img {
  width: 80%;
  margin: auto;
  height: 160px;
  padding: 10px 0;
}
.single-product-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-product-slide-price > button {
  background-color: var(--main-color);
  font-size: 15px;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 15px;
  border: none;
}

@media (min-width: 319px) and (max-width: 600px) {
  .product-info {
    width: 100%;
  }
  .bar-inner {
    width: 50%;
  }
  .swiper-backface-hidden .swiper-slide {
    width: 100% !important;
    margin-top: 10px;
  }
  .single-product-slide-price > button {
    font-size: 10px;
    padding: 10px;
  }
  .single-product-slide-content h4 {
    font-size: 17px;
  }
  .single-product-slide-content p {
    font-size: 11px;
  }
  .rates-show-more h2 {
    font-size: 15px;
  }
  .rates-show-more p {
    font-size: 12px;
  }
  .rates-card h4 {
    font-size: 15px;
  }
  .rates-stars {
    font-size: 12px;
    padding: 10px 0;
  }
  .highlight-q {
    font-size: 10px;
    padding-inline: 10px;
  }
  .rates-card-img {
    width: 65px;
    height: 50px;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .product-info {
    width: 90%;
  }
  .bar-inner {
    width: 80%;
  }
  .swiper-backface-hidden .swiper-slide {
    width: 45% !important;
    margin-top: 10px;
  }
  .single-product-slide-price > button {
    font-size: 10px;
    padding: 15px;
  }
  .single-product-slide-content h4 {
    font-size: 13px;
  }
  .single-product-slide-content p {
    font-size: 10px;
  }
}
@media (min-width: 993px) and (max-width: 1250px) {
  .swiper-backface-hidden .swiper-slide {
    width: 30% !important;
    margin-top: 10px;
  }
  .single-product-slide-price > button {
    font-size: 10px;
    padding: 15px;
  }
  .single-product-slide-content h4 {
    font-size: 14px;
  }
  .single-product-slide-content p {
    font-size: 10px;
  }
}
.price {
  font-size: 15px;
}
/* single-product-page */

/* shop-page */
.shop-panner {
  width: 100%;
  height: 45vh;
  background-image: url(../img/tasty-colorful-appetizing-cooked-spaghetti-italian-pasta-with-tomato-sauce-fresh-garlic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 60px;
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.shop-info-card {
  margin-top: -150px;
  margin-bottom: 40px;
}
.shop-panner button {
  display: inline-block;
  border: none;
  background-color: #fafafa;
  width: 40px;
  padding: 10px 0;
  height: 40px;
  border-radius: 50px;
}
.shop-info-card {
  position: relative;
  background-color: white;
  width: 50%;
  height: 35vh;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--p-color);
  padding: 20px;
  margin-top: -150px;
}
.shop-info-card-top {
  display: flex;
  align-items: center;
}
.shop-info-card-img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.shop-info-card-img img {
  border-radius: 15px;
}
.shop-info-card-location {
  position: absolute;
  left: 5%;
  top: 9%;
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
}
.borderd {
  border-left: 2px solid var(--p-color);
  border-right: 2px solid var(--p-color);
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-backface-hidden .swiper-slide {
  width: 25% !important;
  cursor: grab;
}
.shop-product-slide {
  width: 30%;
  border-radius: 10px;
  border: 1px solid var(--p-color);
}
.shop-product-slide-price > button {
  background-color: var(--main-color);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 15px;
  border: none;
}

@media (min-width: 319px) and (max-width: 480px) {
  .shop-info-card {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: -50px;
  }
  .shop-info-card-location {
    position: absolute;
    font-size: 10px;
    left: 27%;
    top: 2%;
  }
  .shop-info-card-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .shop-info-card-img {
    border-radius: 15px;
    margin-top: 30px;
  }
  .shop-info-card-bottom {
    padding: 10px 0;
  }
  .shop-info-card-bottom-box {
    padding: 8px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .shop-info-card-bottom-box span {
    font-size: 9px;
  }
  .shop-info-card-bottom-box p {
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .shop-info-card {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: -150px;
  }
  .shop-info-card-location {
    position: absolute;
    font-size: 10px;
    left: 5%;
    top: 5%;
  }
  .shop-info-card-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .shop-info-card-img {
    border-radius: 15px;
    margin-top: 30px;
  }
  .shop-info-card-bottom {
    padding: 10px 0;
  }
  .shop-info-card-bottom-box {
    padding: 8px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .shop-info-card-bottom-box span {
    font-size: 12px;
  }
  .shop-info-card-bottom-box p {
    font-size: 15px;
  }
}
@media (min-width: 993px) and (max-width: 1250px) {
  .shop-info-card {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: -150px;
  }
}

@media (min-width: 319px) and (max-width: 600px) {
  .shop-product-slide {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--p-color);
  }
  .swiper-backface-hidden .swiper-slide {
    width: 100% !important;
    margin-top: 10px;
  }
  .shop-product-slide-price > button {
    font-size: 10px;
    padding: 10px;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    border-radius: 15px;
    border: none;
  }
  .shop-product-slide-content h4 {
    font-size: 17px;
  }
  .shop-product-slide-content p {
    font-size: 11px;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .shop-product-slide {
    width: 48%;
    border-radius: 10px;
    border: 1px solid var(--p-color);
  }
  .swiper-backface-hidden .swiper-slide {
    width: 45% !important;
    margin-top: 10px;
  }
  .shop-product-slide-price > button {
    font-size: 10px;
    padding: 10px;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    border-radius: 15px;
    border: none;
  }
  .shop-product-slide-content h4 {
    font-size: 15px;
  }
  .shop-product-slide-content p {
    font-size: 11px;
  }
}
@media (min-width: 993px) and (max-width: 1250px) {
  .swiper-backface-hidden .swiper-slide {
    width: 30% !important;
    margin-top: 10px;
  }
  .shop-product-slide-price > button {
    font-size: 10px;
    padding: 10px;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    border-radius: 15px;
    border: none;
  }
  .shop-product-slide-content h4 {
    font-size: 20px;
  }
  .shop-product-slide-content p {
    font-size: 14px;
  }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after {
  content: "next";
  font-size: 25px;
  color: white;
  background: var(--main-color);
  padding: 10px;
  border-radius: 18px;
  left: 0 !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 18% !important;
  right: 91% !important;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next {
  right: 95% !important;
}
/* shop-page */

/* cart */

.cart-container {
  margin: auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  overflow: auto;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.cart-table th,
.cart-table td {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  font-weight: bold;
}

.cart-table .product {
  display: flex;
  align-items: center;
}

.cart-table .cart-product img {
  width: 50px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  line-height: 1.5;
}
.quantity-controls input {
  width: 40px;
  padding: 10px 0;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 14px;
}

.cart-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-actions button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.cart-actions .update {
  background-color: #333;
  color: #fff;
}

.cart-actions button:hover {
  opacity: 0.9;
}
.remove-btn {
  color: var(--p-color);
  border: 1px solid var(--p-color);
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  transition: var(--main-transition) ease;
}

.remove-btn:hover {
  color: white;
  background-color: var(--main-color);
}
.cart-total {
  box-shadow: 0 0 5px #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.summary-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-item img {
  width: 50px;
}
.subtotal,
.shpping,
.total {
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
}
.checkout-btn {
  padding: 10px 90px;
  background-color: var(--main-color);
  margin-top: 10px;
  color: white;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: var(--main-transition);
}
.checkout-btn:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
@media (max-width: 450px) {
  .cart-total {
    padding: 10px 0;
  }
  .checkout-btn {
    padding: 10px 50px;
    font-size: 14px;
  }
}
/* cart */
/* checkOut */
.billing-form-wrapper {
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.billing-form-wrapper h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}

.billing-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.billing-field {
  flex: 1;
  min-width: 200px;
}

.billing-field.billing-full-width {
  flex: 100%;
}

.billing-field label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555555;
}

.billing-field input,
.billing-field select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.billing-field input:focus,
.billing-field select:focus {
  border-color: #007bff;
  outline: none;
}

.billing-checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.billing-checkbox-row input[type="checkbox"] {
  transform: scale(1.2);
}

.radio-color {
  accent-color: rgb(71 168 26);
  width: 15px;
  height: 15px;
}
.payment-way {
  padding: 10px 0;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-group-inline input {
  flex: 1;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-footer input[type="checkbox"] {
  margin-right: 5px;
}
.icons {
  margin-top: 20px;
  text-align: center;
}
.icons img {
  width: 50px;
  margin: 0 10px;
}
.in-stock {
  background-color: var(--main-color);
  padding: 10px 35px;
  color: #ffffff;
  border-radius: 25px;
}
.out-of-stock {
  background-color: rgba(238, 14, 14, 0.84);
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 25px;
}
.wish-list {
  overflow: auto;
}
.wish-list-product img {
  width: 50px;
}

@media (max-width: 450px) {
  .in-stock {
    padding: 8px 20px;
    font-size: 12px;
  }
  .out-of-stock {
    padding: 10px;
    font-size: 12px;
  }
  .btn-all {
    font-size: 10px;
    padding: 5px 20px;
  }
}

/* checkOut */

/* footer */

.footer {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.footer .foot-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.footer .foot-wrap .info {
  display: flex;
  flex-direction: column;
}
.footer .foot-wrap .info h4 {
  color: #fff;
  margin-bottom: 10px;
}
.footer .foot-wrap .info ul {
  list-style: none;
  padding-right: 0;
}
.footer .foot-wrap .info ul li {
  margin: 10px;
}
.footer .foot-wrap .info ul li a {
  text-decoration: none;
  color: var(--p-color);
  transition: var(--main-transition);
}
.footer .foot-wrap .info ul li a:hover {
  color: #fff;
}

.footer .search {
  position: absolute;
  left: 100px;
  top: 250px;
}

.footer .search input {
  width: 280px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  background: #ffffff54;
}
.footer .search input::placeholder {
  color: #fff;
  text-align: left;
  direction: ltr;
}
.footer .search button {
  position: absolute;
  border-radius: 25px;
  padding: 10px 30px;
  border: 0;
  outline: 0;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: var(--main-transition);
}
.footer .search button:hover {
  background-color: #00803e;
}
.footer .footR {
  display: none;
  margin-bottom: 30px;
}
.footer .footR .logo a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
.footer .footR .logo a img {
  border-radius: 50%;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .footer .search {
    position: static;
    left: auto;
    top: auto;
  }
}
@media (max-width: 768px) {
  .footer .foot-wrap {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px;
  }
}
